body{
  background:white;
    }
form label{
  display:block;
  color:black;
  font-size:25px;
           }
form input{
  display:block;
  background:gray;
  font-size:25px;
          }
 table{
   background:gray;
      }
thead {
background: #555555;
color: white;
font-weight: bold;
      }
td, th{
border: 1px solid #000000;
border-color: black;
       }
  
   
